$headerFile.copyright

$headerFile.importSentences

@interface $headerFile.className : $headerFile.superClassName {
 @private
$headerFile.variableDeclarations
}
$headerFile.propertyDeclarations

$headerFile.prototypeDeclarations

@end